{% extends "base.html" %} {% block contant %}
<div class="container">
  <div class="card" style="width: 18rem">
    <img
      src="https://i.pinimg.com/736x/37/5b/a3/375ba3cc82480072738807bdfca79d2a.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  {% for i in list %}
  <div class="card" style="width: 18rem">
    <img
      src="https://i.pinimg.com/736x/37/5b/a3/375ba3cc82480072738807bdfca79d2a.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    {% endfor %}
  </div>
  {% endblock contant %}
</div>
